@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	float: left;
	position: relative;
	width:30%;
}

footer {
	width: 50%;
}

header {

}

img {
	max-width: 75%;
}

main {
	float: left;
	position: relative;
	width:50%;
}

nav {
	float: left;
	position: relative;
	width:15%;

}

#copyright {
	font-size: 80%;

}

#main-container {

}